{% extends "index.html" %}

{% block title %}

{% endblock title %}

{% block main %}
	{% include 'task_manager/includes/form_b.html' %}
	<div class="container">
		<div class="boards-container">
			<div class="boards-title">
				<h1> Here you can see the list of your task-boards:</h1>
			</div>
			{% if board_count %}
				<table class="tasks-table">
					<tr class="tr-h">
						<th>Board name</th><th>Number of tasks</th><th>Last change</th><th>Date of creation</th>
					</tr>
					{% for board in boards %}
						<tr class="tr-n" onclick="window.location.href='{% url 'view_tasks' board_id=board.id %}'">
							<td>{{ board.name }}</td>
							<td>{{ board.task_count}}</td>
							<td>{{ board.last_change }}</td>
							<td>{{ board.pub_date }}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
			<div style="text-align: center;">	 
				<button onclick="form_manage('form-wrap')" class="tb-btn js-tb-btn"> Create </button>
			</div>
		</div>
	</div>
{% endblock main %}

{% block scripts %}
    
{% endblock scripts %}

