{% load widget_tweaks %}

<div class="form-wrap-n hide">
	<form method="post" class="board-form">
		{% csrf_token %}
		<p>Create form</p>
		<div class="au-group">
			<label>Title:</label><br>
			{% render_field form_n.title class="au-input" %}	
		</div>
		<div class="au-group">
			<label>Body:</label><br>
			{% render_field form_n.body class="au-input" %}	
		</div>
		<div class="au-group">
			<label>Stage:</label><br>
			{% render_field form_n.stage class="au-input" %}	
		</div>
		<div class="au-group">
			<button type="submit" class="btn">Create</button>
			<button type="reset" class="btn">Reset</button>
			<button type="button" class="btn" onclick="form_manage('form-wrap-n')">Close</button>
		</div>
	</form>
</div>
<div class="form-wrap-e hide">
	<form method="post" class="board-form">
		{% csrf_token %}
		<p>Edit form</p>
		<div class="au-group">
			<label>Title:</label><br>
			{% render_field form_e.title class="au-input" %}	
		</div>
		<div class="au-group">
			<label>Body:</label><br>
			{% render_field form_e.body class="au-input" %}	
		</div>
		<div class="au-group">
			<label>Stage:</label><br>
			{% render_field form_e.stage class="au-input" %}	
		</div>
		<div class="au-group">
			<button type="submit" class="btn">Save</button>
			<button type="reset" class="btn">Reset</button>
			<button type="button" class="btn" onclick="form_manage('form-wrap-e')">Close</button>
		</div>
	</form>
</div>
<div class="form-wrap-d hide">
	<form method="post" class="board-form">
		{% csrf_token %}
		<p>Delete form</p>
		<div class="au-group">
			<label>Title:</label><br>
			{% render_field form_d.title class="au-input" %}	
		</div>
		<div class="au-group">
			<label>Body:</label><br>
			{% render_field form_d.body class="au-input" %}	
		</div>
		<div class="au-group">
			<label>Stage:</label><br>
			{% render_field form_d.stage class="au-input" %}	
		</div>
		<div class="au-group">
			<button type="submit" class="btn">Delete</button>
			<button type="reset" class="btn">Reset</button>
			<button type="button" class="btn" onclick="form_manage('form-wrap-d')">Close</button>
		</div>
	</form>
</div>