<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="block-left" style="display: inline-block; float: left; margin: 20px 50px;">
		<h3>Ниже представлены примеры моих учебных проектов:</h1>
		<ul>
			<li><a href="{% url 'view_main' %}">Task Manager</a></li>
			<li><a href="">laalalala</a></li>
			<li><a href="">alalalala</a></li>
		</ul>
	</div>
	<div class="block-right" style="display: inline-block; float: right; margin: 20px 50px;">
		<h3>Информация по ресурсам:</h1>
		<ul>
			<li>Info 1</li>
			<li>Info 2</li>
			<li>Info 3</li>
		</ul>
	</div>
	
</body>
</html>