{% extends 'index.html' %}

{% load widget_tweaks %}

{% block title %} Registration {% endblock %}

{% block main %}
	<form method="post"  class="au-form">
		{% csrf_token %}
		<div class="au-group">
			<label>Username</label><br>
			{% render_field form.username class="au-input" %}	
		</div>
		<div class="au-group">
			<label>Password</label><br>
			{% render_field form.password1 class="au-input" %}	
		</div>
		<div class="au-group">
			<label>Confim Password</label><br>
			{% render_field form.password2 class="au-input" %}	
		</div>
		<div class="au-group">
			<small>
				<ul style="text-align: center; list-style: none;">
					<li>Your password can’t be too similar to your other personal information.</li>
					<li>Your password must contain at least 8 characters.</li>
					<li>Your password can’t be a commonly used password.</li>
					<li>Your password can’t be entirely numeric.</li>
				</ul>
			</small>
		</div>
		<div class="au-group">
			<button type="reset" class="btn">Reset</button>
			<button type="submit" class="btn">Register Now</button>
		</div>
	</form>
{% endblock %}