{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="shortcut icon" type="image/png" href="{% static '/img/favicom.ico' %}">
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet"> 
	<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="{% static '/css/style.css' %}">
	<title> 
		{% block title %} 
		{% endblock title %}
	</title>
</head>
<body>
	<header>
		<div class="container">
			<div class="nav-wrap">
				<ul class="nav-menu-left">
					<li><a href=" {% url 'view_main' %}"> Home </a></li>
					<li><a href=" {% url 'view_boards' %}"> Boards </a></li>
				</ul>
				<div class="header-logo">
					Task Manager
				</div>
				<ul class="nav-menu-right">
					{% if  user.is_authenticated %}
					    <li><a href="{% url 'password_change' %}"> Pass Change </a></li>
						<li><a href="{% url 'logout_url'%}"> Logout </a></li>
					{% else %}
						<li><a href="{% url 'reg_user_url' %}"> SignUp </a></li>
						<li><a href="{% url 'login_url'%}"> Login </a></li>    
					{% endif %}
				</ul>
			</div>
		</div>
	</header>

	<main>
		{% block main %}
		{% endblock main %}
	</main>

	<footer>
		<div class="container">
			<div class="footer-wrap">
				<p>by Zmora</p>
				<div class="footer-social">
					<div class="socials">
						<a href=""> <img src="{% static '/img/tg.svg' %}" height="30" onclick="nonsoc()"> </a>
						<a href=""> <img src="{% static '/img/vk.svg' %}" height="30" onclick="nonsoc()"> </a>
						<a href=""> <img src="{% static '/img/tw.svg' %}" height="30" onclick="nonsoc()"> </a>
						<a href=""> <img src="{% static '/img/gh.svg' %}" height="30" onclick="nonsoc()"> </a>
					</div>
				</div>
					<small> 
						Some small copyright text :)
					</small>
			</div>
		</div>
	</footer>
	{% block scripts %}	    
	{% endblock scripts %}
	<script src="{% static '/js/scripts.js' %}" defer></script>
	<script type="text/javascript">
		function nonsoc() { alert('Social media is intentionally not added!')}
	</script>
</body>
</html>